.card {
  position: relative;

  width: 56px;
  height: 75px;

  cursor: default;
  user-select: none;

  border: 1px solid grey;
  border-radius: 4px;
  background: #fff;
}

.hidden {
  background-image: url('https://i.pinimg.com/236x/79/21/66/792166a01d9f4024b4eb51ae51b0b185--black-card-card-deck.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  & .icon, & .title,
  & .down_icon, & .down_title {
    visibility: hidden;
  }
}

.red { color: red }

.black { color: black }

.icon {
  position: absolute;

  top: 0;
  left: 2px;
}

.title {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -100%);
}

.down_icon {
  position: absolute;

  bottom: 0;
  right: 2px;

  transform: rotate(180deg);
}

.title img,
.down_title img {
  width: 30px;
  height: 27px;
}

.down_title {
  position: absolute;

  bottom: 50%;
  right: 50%;

  transform: translate(50%, 100%) rotate(180deg);
  border-bottom: 1px solid #000;
}
